# Configure these variables for your environment.

# Copy in your real Oauth2 Client ID and Application Secret
EXAMPLE_OAUTH_CLIENT_ID='a05aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa55f3'
EXAMPLE_OAUTH_CLIENT_SECRET='693aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaeed'

# This is the site that hosts your authentication
# If you're testing this locally make sure your vagrant instance can
# reach this URL. =)
EXAMPLE_OAUTH_SITE_URL='https://www.existing-rails-app.com'

